<li>
  <%= link_to I18n.l(screening.screening_start),
    room_path(screening.room.id, screening_id: screening.id) %>
  <%= t ".available" %>: <%= pluralize screening.available_seats, t(".seat") %>
</li>
