<%= provide :title, t("layouts.header.now_showing") %>
<div class="product-view">
  <div class="page-title product-view">
    <span class="h1"><%= t "layouts.header.now_showing" %></span>
  </div>
  <div id="paginator">
    <%= paginate @movies, theme: "twitter-bootstrap-3", remote: true %>
  </div>
  <div class="content main-movie">
    <ul id="movies" class="movies product-grid product-grid--max-4-col center">
      <%= render @movies %>
    </ul>
  </div>
</div>
