$("#create_room_data").data("map", <%= raw @support.map %>);
$("#create_room_data").data("deleted_seats",
  <%= raw @support.deleted_seats %>);

var $field_seat_no = $("#field_seat_no");
field_seat_no.value = <%= @support.room.seat_no %>;

$("#seat-partial").html("<div id='seat-map'><div class='front'><%= t 'admin.rooms.new.screen' %></div></div>");
$("#legend-partial").html("<div id='legend'></div>");

$(document).trigger("turbolinks:load");
