<%= provide :title, t("layouts.header.coming_soon") %>
<div class="product-view">
  <div class="page-title product-view">
    <span class="h1"><%= t "layouts.header.coming_soon" %></span>
  </div>
  <div id="paginator">
    <%= paginate @movies, remote: true %>
  </div>
  <div class="content main-movie">
    <ul id="movies" class="movies product-grid product-grid--max-4-col center">
      <%= render partial: "comings/movie", collection: @movies %>
    </ul>
  </div>
</div>
