@import 'variable';
.screen_showtime {
  position: relative;
  display: inline-block;
  list-style: none;

  a {
    background: $screen-showtime-a;
    color: $a-color-white;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  a:hover {
    background: $screen-showtime-a-hover;
  }
}

.movie-title {
  width: 50%;
  display: inline-block;
  font-size: 18px;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  font-weight: 600;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.content_showtime {
  border-top: 1px solid $item-gray;

}
.shedule-item{
  border-bottom: 1px solid $item-gray;
  padding: 10px;
  span {
    margin-bottom: 10px;
  }
}

.show-screening {
  form{
    display: inline;
  }
  .show-date {
    width: auto;
    border: 1px solid;
  }
}

.screening-date {
  border-bottom: 1px solid $product-gray;
}

.content_box_showtime {
  border: 1px solid $product-gray;
  padding: 10px;
  background: $a-color-white;
}

.content_box_showtime table {
  border-top: 1px solid $item-gray;
  border-left: 1px solid $item-gray;
  width: 100%;
  td {
    height: 40px;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid $item-gray;
    border-right: 1px solid $item-gray;
  }
  th {
    border-bottom: 1px solid $item-gray;
    border-right: 1px solid $item-gray;
    text-align: center;
  }
}

.content_box_showtime table tr td.number_showtime {
    font-weight: bold;
    font-family: Tahoma, Geneva, sans-serif;
}

.content_box_showtime table tr td.movie_showtime {
    padding-left: 5px;
}

.screening_showtime {
    padding-top: 5px;
}
