<% if movies.nil? || movies.empty? %>
  <%= t ".no_result" %>
<% else %>
  <div class="content main-movie">
    <%= paginate movies, theme: "twitter-bootstrap-3", remote: true %>
    <ul id="movies" class="movies product-grid product-grid--max-4-col center">
      <%= render movies %>
    </ul>
    <%= paginate movies, theme: "twitter-bootstrap-3", remote: true %>
  </div>
<% end %>
