<% if current_user.admin? && !user.current_user?(current_user) %>
  <li>
    <%= link_to user.name, admin_user_path(user) %>
    - <%= user.email %>
    <%= render "admin/shared/block_form", user: user %>
    <%= render "admin/shared/mod_form", user: user %>
  </li>
<% end %>
