<li>
  <%= I18n.l screening.screening_start %>
  : <%= screening.movie.title %>
  | <%= link_to t(".delete"),
    admin_screening_path(screening, movie_id: @support.movie.id), method: :delete,
    data: {confirm: t(".sure")} %>
</li>
